@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #F6F6F6;
}

body::before {
    content: "";
    background-image: url('./assets/Código\ 1.png');

    background-size: cover;
    background-position: center;


    opacity: 0.3;


    position: absolute;
    width: 100%;
    height: 120%;
    z-index: -1;
}

.titulo-destaque {
    color: #22D4FD;

}

.apresentacao-projetos {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.apresentacao__projetos{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.apresentacao__projetos img{
    width: 200px; /*largura */
    height: 150px; /*altura*/
}

.rodape {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}


/* /////////////////////////////cabecalho/////////////////////// */
.cabecalho {
    display: flex;
    justify-content: center;
    padding: 5%;
    gap: 10px;
}

.cabecalho a {
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    color: #22D4FD;
}